body {background-color: black;
}
.image-container {
  flex-basis: calc(100% / 4); /* or any other fraction, depending on how many elements you want per row */
  margin-right: 20px;
  width: 275px;
   height:175px;
  position: relative;
  display: inline-block;
  margin: 20px;
  transform: translateZ(0); 
  transition: transform .2s;
  
  overflow: hidden;
  border-radius: 55px; 
}
        .image {
            display: flex;
            width: 275px;
            height: 175px;
            object-fit: cover; /* adjust as needed */
            border-radius: 55px; /* for rounded edges */
            cursor: pointer;
            transition: transform .2s;
            z-index:1
        }
        .image:hover {
            transform: scale(1.1);
        }
        .bottom-div {
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 302.5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: roboto; monospace;
  z-index: 3;
font-color: white;
transition: .2s;
  
  transform: translateY(100%);
}
        #fullscreen-iframe {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            z-index: 1000;
            display: none;
        }
.image-container:hover .bottom-div {
  transform: translateY(0);
}
.image-container:hover{
transform: scale(1.1)
}
a {
font-family: roboto; monospace;
  font-size: 35px;
    font-weight: 200;
      text-decoration: none;
  color: purple;
}
.search-container {
  position: relative;
  margin: 20px;
}

#game-search-bar {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #8a2be2;
  outline: none;
  transition: all 0.2s ease-in-out;
}

#game-search-bar:focus {
  width: 1200px;
}

#game-search-bar::placeholder {
  color: #fff;
}
