/* Style for the save button */
body {background-color: black;
}

#save-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  item-align: center;
  text-align: center;
}

/* Style for the import button */
#import-button {
  background-color: #008CBA;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  item-align: center;
  text-align: center;
}

/* Hide the import input field */
#import-input {
  display: none;
}
