.body {
    background-image: black;
    background-size: fill;
    color: #000; }


p { max-inline-size: 30px;
padding: 20px;
text-align: center; }

.button {
	position: relative;
	width: 230px;
	height: 47px;
	border: 1px solid rgb(5, 39, 162);
	color: rgb(10, 16, 214);
	background: rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	user-select: none;
        font-weight: 500;
}

.button:active {
	background: rgb(255, 255, 255);
}

.button-text {
	opacity: 0;
	user-select: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
h1 {
    font-size: 30px;
    text-align: center;
}